# MIMEタイプの設定
AddType application/javascript .js
AddType application/javascript .mjs
AddType text/css .css
AddType application/json .json

# CORS設定
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "GET, OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>



